.container-fluid {
    background: #f2f2f2;
    min-height: 100vh;
    padding: 150px;
}
.col-md-12.content-button {
    text-align: right;
}
.col-md-12.content-table {
    background: #fff;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}
.form-group,.input-group {
    margin-bottom: 17px;
}
span.note {
    font-size: 12px;
    color: #585858;
}
.col-md-12.content-button {
    display: flex;
    justify-content: space-between;
}

i.fa.fa-calendar {
    height: 25px;
}
#mailModal .modal-dialog {
    top: 20%;
}
table#article-table img {
    border-radius: 10px;
}
.container-fluid .content {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 35px;
    background: #fff;
}

td.icons img {
    height: 20px;
}
td.icons a {
    margin-right: 10px;
}
.view-modal .modal-dialog {
    max-width: 50%;
}
.view-modal img {
    object-fit: cover;
}
p.view-content {
    margin-top: 30px;
}
.update-modal img {
    border-radius: 10px;
    margin: 10px 0;
}